body{
    background-color: bisque;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
    color: red;

}
li{
    background-color: lightblue;
    color: brown;
}