body{
    background-color: bisque;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    color: pink;

}
li{
    background-color: lightblue;
    color: brown;
}